.editar-perfil-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-guardar,
  .btn-cancelar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-guardar {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-cancelar {
    background-color: #f44336;
    color: white;
  }

  .white{
    color:white
  }

  .point{
    margin-top: 50px;
  }
  